<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>506453840264-7o2v13tjulnr1vimde26qtl6g6nvl3ud.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.506453840264-7o2v13tjulnr1vimde26qtl6g6nvl3ud</string>
	<key>API_KEY</key>
	<string>AIzaSyBqgtotrkiSyRmuGADmpaAir1MgCDGbH3o</string>
	<key>GCM_SENDER_ID</key>
	<string>506453840264</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TulsaTech2022.DevSwiftUI</string>
	<key>PROJECT_ID</key>
	<string>swiftuifirebasedev-391be</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuifirebasedev-391be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:506453840264:ios:8607abb6df1d1d45bbaa3d</string>
</dict>
</plist>